<div class="card">
  <div class="container">
      <h1>Registrar Usuarios</h1>
      <label for="name"><b>Nombre</b></label><br>
      <input id="name" type="text" placeholder="Nombre de usuario" ><br>
      <label for="lastName"><b>Apellido</b></label><br>
      <input id="lastname"  type="text" placeholder="Apellido de usuario"
          name="psw" required><br>
      <label for="matricula"><b>Matrícula</b></label><br>
      <input id="matricula" type="text" placeholder="matricula" ><br>
      <label for="beca"><b>% Beca</b></label><br>
      <input type="text"placeholder="% beca" id="beca"><br>
      <button type="submit" onclick="passwordexe();toastMessage();confirmpsw();validateEntry()" class="button">Registrar</button>
  </div>
</div>