.text{
    position: absolute;
    left: 25%;
    top: 100px;
}


  table {
    margin-right: 2px;
    border-collapse: collapse;
    width:50%;
    margin-left:auto; margin-right:auto; 
    position: absolute;
    left: 25%;
    top: 250px;
    
    }
  td, th {
    border-bottom: 1px solid #000000;
    text-align: left;
    padding: 8px;table-layout:fixed;
    }
    .td{
      text-align: left;
      padding: 8px;table-layout:fixed;
      border-bottom-color: #f1f1f1 ;
    }
    .table{
      width: 100%;
      margin-left:auto; margin-right:auto; 
    }
   .tr {
       color: #fff;
     background-color: #000000;
    }
