<div>
  <div class="card">
      <div class="container">
          <label for="email"><b>Correo electrónico</b></label>
          <input id="email" type="text" placeholder="Ingresar correo electrónico" name="uname" required>
          <label for="psw"><b>Contraseña</b></label>
          <input type="password" minlength="4" maxlength="10" placeholder="Ingresar Contraseña" name="psw"
              id="psw" required>
          <button  class="button">Consultar</button>
      </div>
    </div>
  </div>